.white-box {
  background-color: white;
  width: 399px;
  height: 190px;
  padding: 20px;
  border: 1px solod #ccc;
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
  position: relative;
  margin-top: 39px;
}
@font-face {
  font-family: 'MyFont';
  src: url('https://files.catbox.moe/2sli03.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.Text {
  font-family: 'MyFont';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}
.WWW {
  margin-top: 100px;
  width: 1000000px;
  height: 2px;
  object-fit: cover;
}
.Vids {
  Margin-top: -900px;
}
body {
  overflow-x: hidden;
}
.Index {
  width: 360px;
}
.Links {
  font-family: 'MyFont';
  text-decoration: none;
  color: rgb(171, 56, 15);
  font-size: 30px;
}
.Links:hover {
    filter: drop-shadow(0 0 9px rgb(24, 37, 46));
}
.Txt {
  text-shadow: 0px 0px 5px rgb(199, 199, 199), 0px 7px 5px rgb(107, 107, 107);
}
