.Page1 {
  width: 610px;
  height: 450px;
  image-rendering: normal;
  margin-top: 30;
  border-radius: 40px;
  padding: 15px;
}
.Return {
  width: 305px;
  height: 115px;
  image-rendering: normal;
  margin-top: -41px;
  margin-right: -306;
}
.Enter {
  width: 305px;
  height: 115px;
  image-rendering: normal;
  margin-top: -131px;
  margin-right: 303;
}
