.Torrents {
color: #0f0f0f;
text-shadow: 0 0 10px rgb(107, 107, 107);
}
.Blackbar {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.Bio {
color: #0f0f0f;
text-shadow: 0 0 10px rgb(54, 54, 54);
}
.Click {
  background: url("https://files.catbox.moe/y3p3db.jpg");
  border-color: yellow;
  box-shadow: 0 0 30px rgb(255, 255, 0);
}
.Toni {
  display: hidden;
  width: 310px;
  height: 420px;
  image-orientation: fixed;
  border-width: 2px;
  border-style: solid;
  border-color: yellow;
  border-radius: 30px;
}
.Toni { display: hidden; }
.Click:hover + .Toni { display: block; }

@font-face {
  font-family: 'FFA';
  src: url('https://files.catbox.moe/joaxdf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  width: 1px;
  height: 1px;
}
h3 {
  font-family: 'FFA';
  box-shadow: 0 0 25px rgb(140, 140, 140);
}
body {
  background-image: url('https://files.catbox.moe/qqpoxl.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.Click1 {
  background: url("https://files.catbox.moe/jtrkcf.webp");
  border-color: rgb(107, 143, 24);
  box-shadow: 0 0 30px rgb(212, 132, 47);
}
.Robbie {
  display: hidden;
  width: 310px;
  height: 470px;
  image-orientation: fixed;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(130, 158, 64);
  border-radius: 30px;
}
